* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pd-x10 {
padding: 0 10px;
}

.pd-x20 {
  padding: 0 20px;
}

.pd-x30 {
  padding: 0 30px;
}

/* GENERIC RULES */

/* START HEADER STYLE */

header {
  background-color: rgb(250, 105, 3);
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  margin-bottom: 140px;
}

header ul li {
  list-style: none;
  display: inline-block;
}

header ul a {
  text-decoration: none;
  color: white;
}

.gender-list a {
  font-weight: 600;
  padding: 0 10px;
}

.header-logo {
  display: inline-block;
  width: 200px
}

.user-menu li {
  font-size: 1rem;
  padding: 0 5px;
}
/* END HEADER STYLE */
/* START MAIN STYLE */





/* START MAIN STYLE */